/* CONTAINER SCROLL  */
.containerScroll{
    background-color: rgb(173, 21, 21);
    display: flex;
    flex-flow: row nowrap ;
    overflow-x: scroll;
    margin: 10px;
    /* height: 100%; */
    padding: 20px;
    padding-bottom:40px ;
    /* width: 90%; */
}
/*  CONTAINER SCROLL WEBKIT SCROLLBAR */
.containerScroll::-webkit-scrollbar {
    width : 5px;
    height: 5px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 80%);
}
.containerScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: hsl(0, 0%, 2%);
}
.containerScroll::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 0%);
    cursor: pointer;
}
/*  CONTAINER SCROLL IMAGE */
.containerScrollImage{
    min-width:  300px;
    overflow: hidden;
    /* height: 450px; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    border: .5px solid rgb(233, 233, 233);
    background-color: white;
    position: relative;
}
/*  CONTAINER SCROLL IMAGE ICON */
.containerScrollImageIcon{
    position: absolute;
    right: 10px;
    top:10px;
    transition: color .5s;
    color: gray;
}
/*  CONTAINER SCROLL IMAGE ICON : HOVER */
.containerScrollImageIcon:hover{
    color: black;
    cursor: pointer;
}
/*  CONTAINER SCROLL IMAGE  IMG */
.containerScrollImage img {
    min-width: 300px;
    height: 300px;
    object-fit: cover;
}
/*  CONTAINER SCROLL CAPTION  */
.containerScrollCaption{
    background-color: transparent;
    height: 100%;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-flow:  column nowrap;
}
/*  CONTAINER SCROLL CAPTION  TITLE */
.containerScrollCaptionTitle{
    background-color: transparent;
    padding: 2px;
    font-weight: bold;
    margin-bottom: 5px;
}
/*  CONTAINER SCROLL CAPTION BODY */ 
.containerScrollCaptionBody{
    background-color: transparent;
    color:gray;
    padding: 2px;
    margin-bottom: 5px;
}
/*  CONTAINER SCROLL CAPTION PREFORMANCE  */
.containerScrollCaptionPerfomance{
    background-color: transparent;
    padding: 2px;
}

@media screen and (max-width:750px) {
    .containerScroll::-webkit-scrollbar{
        display: none;
    }
    .containerScroll{
        overflow:hidden;
        display: grid;
        /* flex-flow: column wrap; */
        grid-template-columns: repeat(2, 1fr);
        min-width: none;
        place-items: center;
        background-color: yellow;
        align-items: center;
        height: 500px;
    }
    .containerScrollImage{
        min-height: none;
        background-color: blue;
        width: 265px;
        margin: 5px;
        border: none;
        outline: none;
    }
    .containerScrollImage img{
        width: 265px;
        object-fit: cover;
        border-radius:10px ;
    } 
    .containerScrollCaption{
        display: none;
    }
}
@media screen and (max-width:580px){
    .containerScroll{
        grid-template-columns: repeat(1, 1fr);
    }
}