/*    =========================================================  CONTAINER GRID IMAGE : IMG   ===================================================== */
.scroller-grig-img{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
/* ICON LEFT SCROLL CONTAINER */
.iconLeftScrollImg{
    position: absolute;
    top : 50%;
    z-index: 2;
    color: red;
    left : 60px;
    opacity: .2;
    transition: opacity .5s;
}
/* ICON RIGHT SCROLL CONTAINER */
.iconRigthtScrollImg{
    position: absolute;
    top : 50%;
    z-index: 2;
    color: red;
    right : 60px;
    opacity: .2;
    transition: opacity .5s;
}
.iconLeftScrollImg:hover , .iconRigthtScrollImg:hover {
    cursor: pointer;
    opacity: 1;
}
/* CONTAINER SCROLL  */
.containerScroll{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: row nowrap ;
    justify-content: center;
    overflow-x: scroll;
    margin: 10px;
    height: 100%;
    padding: 20px;
    padding-bottom:40px ;
    width: 90%;
}
/*  CONTAINER SCROLL WEBKIT SCROLLBAR */
.containerScroll::-webkit-scrollbar {
    width : 5px;
    height: 5px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 80%);
}
.containerScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: hsl(0, 0%, 2%);
}
.containerScroll::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 0%);
    cursor: pointer;
}
/*  CONTAINER SCROLL IMAGE */
.containerScrollImage{
    min-width:  300px;
    overflow: hidden;
    height: 450px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    border: .5px solid rgb(233, 233, 233);
    background-color: white;
    position: relative; 
}
/*  CONTAINER SCROLL IMAGE ICON */
.containerScrollImageIcon{
    position: absolute;
    right: 10px;
    top:10px;
    transition: color .5s;
    color: gray;
}
/*  CONTAINER SCROLL IMAGE ICON : HOVER */
.containerScrollImageIcon:hover{
    color: black;
    cursor: pointer;
}
/*  CONTAINER SCROLL IMAGE  IMG */
.containerScrollImage img {
    min-width: 300px;
    height: 300px;
    object-fit: cover;
}
/*  CONTAINER SCROLL CAPTION  */
.containerScrollCaption{
    background-color: transparent;
    height: 100%;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-flow:  column nowrap;
}
/*  CONTAINER SCROLL CAPTION  TITLE */
.containerScrollCaptionTitle{
    background-color: transparent;
    padding: 2px;
    font-weight: bold;
    margin-bottom: 5px;
}
/*  CONTAINER SCROLL CAPTION BODY */ 
.containerScrollCaptionBody{
    background-color: transparent;
    color:gray;
    padding: 2px;
    margin-bottom: 5px;
}
/*  CONTAINER SCROLL CAPTION PREFORMANCE  */
.containerScrollCaptionPerfomance{
    background-color: transparent;
    padding: 2px;
}
/*    =========================================================             IMAGE SLIDER EFFECTS     ===================================================== */
/* BANNER */
.banner{
    width: 100%;
    height: 100vh;
    background-color: rgb(216, 216, 216);
    position: relative;
}
.sliderBanner{
    position: absolute;
    width: 200px;
    height: 250px;
    top:10%;
    left: calc(50% - 100px);
    transform-style:  preserve-3d;
    transform: perspective(3000px);
    animation: autoRun 30s linear infinite;
}
@keyframes autoRun {
    from {
        transform: perspective(3000px) rotateX(-6deg)  rotateY(0deg);
    }

    to {
        transform: perspective(3000px)  rotateX(-6deg) rotateY(360deg);
    }
}
.itemBanner{
    position: absolute;
    inset: 0 0 0 0 ;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
}
.itemBanner img {
    width: 100%;
    object-fit: cover;
    height: 100%

}
/*    =========================================================   CLASSIFIEER CONTAINER : GRID IMAGE    ===================================================== */
/* CLASIFIER CONTAINER */
.clasifierContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
}
/* CLALIFIER ITEM */
.clasifierItem{
    width: 100%;
    height: 500px;
    overflow: hidden;
    padding: .5%;
    position: relative;
}
/* CLASIFIER ITEM IMG */
.clasifierItem img {
    object-fit:cover ;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
}
/* CLSIFIER CAPTION */
.clasifierCaption{
    background-color: transparent;
    position: absolute;
    bottom:2%;
    left : 3%;
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    width: 70%;
}
/* CLASSIFIER CAPTION TITLE */
.clasifierCaptionTitle{
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 5px;
    color:  gray;
    width: 150px;
    text-align: center;
    border-radius:4px ;
    transition: color .5s, transform .5s;
}
/* CLASIFIER CAPTION TITLE : HOVER */
.clasifierCaptionTitle:hover {
    color: black;
    transform:scale(1.1)
}
/* CLASIFIER CPATION BODY */
.clasifierCaptionBody{
    display: none;
    background-color: wheat;
    padding: 10px;
    margin: 10px;
    width: 70%;
    border-radius: 4px;
    color: rgb(35, 35, 35);
    transition: color .5s, background-color .5s;
}
/* CLASIFIER CPATION BODY : BODY */
.clasifierCaptionBody:hover {
    color: wheat;
    background-color: rgb(35, 35, 35);
}
/* CLASIFIER CPATION ICON */
.clasifierCaptionIcon{
    background-color: antiquewhite;
    width: 220px;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
/* TITLE ICON */
.titleIcon{
    width: 10%;
}
/* ICON GRIED CAPTION */
.iconGirdCaption{
    background-color: transparent;
    width: 100%;
}
/* CLASIFIER CPATION ICON : HOVER  ICON GRID CAPTION */
.clasifierCaptionIcon:hover  .iconGirdCaption{
   animation: animationTranslateX .5s linear forwards ;
}
/* CLASIFIER CPATION ICON : NOT : HOVER  ICON GRID CAPTION */
.clasifierCaptionIcon:not(:hover)  .iconGirdCaption{
   animation: animationTranslateXReverse .5s linear forwards ;
}
/* ANIMATION TRANSLATE */
@keyframes animationTranslateX {
    0%{
        transform: translateX(10%);
    } 
    100%{
        transform: translateX(80%);
    }  
}
/* ANIMATION TRANSLATE REVERSE */
@keyframes animationTranslateXReverse {
    0%{
        transform: translateX(80%);
    } 
    100%{
        transform: translateX(10%);
    }  
}
/* CLASIFIER CPATION BODY */
.clasifierCaptionButton{
    width: 30%;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    color: gray;
    outline: none;
    border: none;
    transition: color .5s , background-color .5s  ;
}
/* CLASIFIER CAPTTION BUTTTON : HOVER */
.clasifierCaptionButton:hover {
    background-color: black;
    color: wheat;
    cursor: pointer;
}
/* ==================================================  CONTAINER SLIDER IMAGE  =========================================================== */
/* CONTAINER SLIDER IMAGE ROLL */
.containerSliderImageRoll{
    padding: 30px 15%;
    position: relative;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
/* CONATINAER SLIDER IMAGE */
.containerSliderImage{
    background-color: antiquewhite;
    width:1000px; 
    height: 500px;
    display: flex;
    flex-flow: row nowrap ;
    overflow-x: scroll;
    align-items: center;
    border: 2px solid orchid;
}

/* CONATINAER SLIDER IMAGE :: WEBKIT SCROLLBAR */
.containerSliderImage::-webkit-scrollbar{
    display: none;
}
/* ITEM SLIDER IAMGE */
.itemSliderImage{
    /* min-width: 30%; */

    min-width: 310px;
    /* height: 60%; */
    border: 2px solid orange;
    background-color: blue;
    margin: 10px;
    /* overflow: hidden; */
    /* display: flex; */
    /* flex-flow: column nowrap; */
}
.itemSliderImage img {
    /* min-width: 350px; */
    object-fit: cover;
    width: 100%
}
/* CLICK SIDER LEFT */
.clickSiderLeft{
    position: absolute;
    color: aqua;
    top: 50%;
    opacity: .3;
    left : 2%;
    transition: opacity .5s;
}
/* CLICK SIDER RIGHT  */
.clickSiderRigth{
    position: absolute;
    color:aqua;
    top:50%;
    right: 2%;
    opacity: .3;
    transition: opacity .5s;
}
/* CLICK SIDER LEFT & CLICK SIDER RIGHT :: HOVER */
.clickSiderLeft:hover , .clickSiderRigth:hover {
    opacity: 1;
    cursor: pointer;
}

/*    ========================================================= @media screen maxx-width : 750px  ===================================================== */
@media screen and (max-width:750px) {
    /*    =========================================================  CONTAINER GRID IMAGE : IMG   ===================================================== */
    /* ICON RIGHT SCROLL CONTAINER  &&  ICON LEFT SCROLL CONTAINER*/
    .iconLeftScrollImg, .iconRigthtScrollImg{
        display: none;
    }
    /*  CONTAINER SCROLL WEBKIT SCROLLBAR */
    .containerScroll::-webkit-scrollbar{
        display: none;
    }
    /* CONTAINER SCROOL */
    .containerScroll{
        overflow:hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-width: none;
        place-items: center;
        background-color: rgb(255, 255, 255);
        align-items: center;
        height: 520px;
        width: 100%;
        padding: 0;
    }
    /* CONTAINER SCROLL IMAGE */
    .containerScrollImage{
        min-height: none;
        background-color: rgb(255, 255, 255);
        min-width: 210px;
        height: 240px;
        border: none;
        outline: none;
        overflow:visible;
    }
    /* CONTAINER SCROOL IMAGE IMG */
    .containerScrollImage img{
        min-width: 210px;
        object-fit: cover;
        height: 240px;
        border-radius:10px ;
    } 
    /* CAONTAINER SCROLL CAPTION */
    .containerScrollCaption{
        display: none;
    }
    /*    =========================================================   CLASSIFIEER CONTAINER : GRID IMAGE    ===================================================== */
    /* CLASIFIER CONTAINER */
    .clasifierContainer{
        grid-template-columns: repeat(1, 1fr);
        /* height: 2805px; */
    }
    /* CLASIFIER ITEM */
    .clasifierItem{
        height: 700px;
    }
    /* CLASIFIER ITEM IMG */
    .clasifierItem img {
        object-fit: cover;
    }
    /* CLASIFIER CAPTION BODY */
    .clasifierCaptionBody{
        display: block;
    }
    /* CLASIFIER CAPTION BUTTON */
    .clasifierCaptionButton{
        width: 60%;
    }
    /* ==================================================  CONTAINER SLIDER IMAGE  =========================================================== */
    /* ITEM SLIDER IMAGE */
    .itemSliderImage{
        min-width: 200px;      
        height: 60%;
        margin: 1%;
    }
    /* CLICK SIDER LEFT & CLICK SIDER RIGHT */
    .clickSiderLeft , .clickSiderRigth{
        display: none;
    }
    /*  CONTAINER SCROLL WEBKIT SCROLLBAR */
    .containerSliderImage::-webkit-scrollbar {
        display: none;
    }
    /* CONTAINER BUTTON SLIDER IMAGE */
    .containerButtonSliderImg{
        background-color: transparent;
        display: flex;
        flex-flow: column nowrap;
    }
    /* ITEM BUTTON ROW 1 */
    .itemButtonRow1{
        display: flex;
        flex-flow: row nowrap ;
    }
    /* ITEM BUTTON ROW 2 */
    .itemButtonRow2{
        display:none
    }
    /* BUTTON SLIDER IMG */
    .buttonSliderImg{
        background-color: rgb(203, 203, 203);
        width: 30px;
        height: 10px;
        border-radius: 10px;
        margin-right : 20px ;
    }
    /* BUTTON SLIDER IMG : NTH CHILD */
    .buttonSliderImg:nth-child(1){
        background-color: red;
    }
    /* BUTTON SLIDER IMG : HOVER */
    .buttonSliderImg:hover {
        cursor: pointer;
    }
}

/*    ========================================================= @media screen maxx-width : 500px  ===================================================== */
@media screen and (max-width:500px) {
    /* CONTAINRE SCROLL */
    .containerScroll{
        grid-template-columns: repeat(1, 1fr);
    }
    /* ITEM SLIDER IMAGE */
    .itemSliderImage{
        min-width: 98.5%;
        height: 60%;
    }
    /* ITEM BUTTON ROW 1  */
    .itemButtonRow1{
        display: none  
    }
    /* ITEM BUTTON ROW 2 */
    .itemButtonRow2{
        display: flex;
        flex-flow: row nowrap ;
    }
    /* BUTTON SLIDER IMG */
    .buttonSliderImg{
        background-color: rgb(203, 203, 203);
        width: 20px;
        height: 10px;
        border-radius: 10px;
        margin-right : 10px ;
    }}