.containerScroll{
    background-color: red;
    display: flex;
    /* justify-content: center; */
    overflow-x: scroll;
    margin: 10px;
    height: 100%;
    padding: 20px;
    width: 90%;
}
.containerScrollImage{
    width: 500px;
    height: 450px;
    display: flex;
    margin: 5px;
    border: 2px solid green;
    background-color: rgb(139, 139, 152);
}
.containerScrollImage img {
    /* width: 100%; */
    width: 350px;
    height: 300px;
    object-fit: cover;
}