* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: red;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.logo {
    background-color: transparent;
    width: 80px;
}
.logo img {
    width: 100%;
}
.containterHeader{
    height: 50px;
    align-items: center;
    display: flex;
}
.iconSidebar{
    display: none;
}
.deleteContainer{
    display: none;
}
.itemHeader {
    margin: 0 10px;
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 2px solid white;
 
}
.itemHeader:hover {
    cursor: pointer;
    border-bottom: 2px solid black;
}
.arrowdownHeader {
    display: none;
}
.searchIcon{
    background-color: yellow;
    display: flex;
}

/* media Query screen mobile */
@media screen and (max-width : 750px) {
    .header{
    background-color: rgb(0, 255, 123);
    height: 70px;
    }
    .containterHeader{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: auto;
        display: inline;
        flex-flow: column nowrap;
        display: none;
    }
    .iconSidebar{
        display: flex;
        font-size: 20px;
        transition: scale .5s;
    }
    .iconSidebar:hover {
        scale: 1.2;
        cursor: pointer;
    }
    
    .deleteContainer{
        display: flex;
        background-color: red;
    }
    .deleteContainer i {
        border: 1px solid gray;
        background-color: rgb(255, 255, 255);
        padding: 5px;
        color : gray;
        border-radius: 3px;
        font-size: 25px;
        margin: 5px 8px;
        transition: color .5s;
    }
    .deleteContainer i:hover {
        cursor: pointer;
        color : black
    }
    .itemHeader {
        background-color: orange;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin: 0;
        border-bottom:none;
    }
    .itemHeader:hover {
        cursor: pointer;
        background-color: gray;
        border: none;
    }
    .arrowdownHeader {
        display: inline;
        font-size: 12px;
    }
}