

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: rgb(188, 188, 198);
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;  
}
.iconMenu{
    display: none
}
.menu{
    display: flex;
}
@media screen and (max-width : 750px) {
    .header{
        background-color: rgb(156, 23, 23);
        height: 70px;
    }   
    .iconMenu{
        display: block
    }
    .menu{
        display: none;
    }
}