

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* HEADER */
.header{
    background-color: rgb(188, 188, 198);
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;  
}
/* ICON MENU */
.iconMenu{
    display: none
}
/* CLASS MENU CONTAINER */
.menuContainer{
    display: flex;
    flex-flow:  row nowrap;
}
/* CROSS SIDEBAR */
.crossSideBar{
    display: none
}
/* MENU ITEM */
.menuItem {
    margin-right: 12%;
}
/* ARROW TITLE */
.arrowTitle{
    display: none;
}
/* ARROW RIGHT TITLE */
.arrowRigthTitle{
    display: none;
}
/* LIST CONTAINER */
.listContainer{
    background-color: aqua;
    position: fixed;
    left: 0;
    top:25px;
    width: 100%;
    display: none;
}

.menuItem:hover .listContainer {
    display: block
}
@media screen and (max-width : 750px) {
    /* HEADER */
    .header{
        background-color: rgb(156, 23, 23);
        height: 70px;
    }   
    /* ICON MENU */
    .iconMenu{
        display: block
    }
    /* CLASS MENU CONTAINER  */
    .menuContainer{
        background-color: yellow;
        position: fixed;
        width: 100%;
        top: 0;
        left : 0;
        display: flex;
        flex-flow:  column nowrap;
    }
    /* CROSS SIDEBAR */
    .crossSideBar{
        display: flex
    }
    /* MENU ITEM */
    .menuItem {
        margin-right: 0;
        padding: 10px;
    }
    /* ITEM TITLE */
    .itemTitle{
        display: flex;
        justify-content: space-between
    }
    /* ARROW TITLE */
    .arrowTitle{
        display: block;
        transition: transform .5s;
    }
    /* LIST CONTAINER */
    .listContainer{
        background-color: red;
        width: 100%;
        overflow: hidden;
        position: static;
        display: block;
        /* height: 0;
        transition: height .5s; */
    }
    
    /* ARROW RIGHT TITLE */
    .arrowRigthTitle{
        display: block;
    }
    /* LIST IETM */
    /* .listItem{
    } */
    /* LIST TITLE */
    .listTitle {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        background-color: aliceblue;
        transition: height .5s ;
        height: 0;
    }
    /* HOVER ITEM TITLE:  LIST TITLE */
    .menuItem:hover .listTitle {
        height:20px;

    }
    .menuItem:hover .arrowTitle{
        transform: rotate(180deg);
    }

 
    
}