* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* HEADER  */

header{

}
.header-top {
    position: fixed;
    width: 100%;
    top : 0;
    display: flex;
    flex-flow: column nowrap;
    z-index: 5;
}
.header-up{
    background-color: black;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-top h3 {
    color: white;
}

.header-meddle{
    padding-top: 4px;
    background-color: yellow;
    height: 30px;
}
.header-meddle ul {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
}
.header-meddle ul li {
    margin-right: 14px;
    list-style-type: none;
}

.header-meddle ul li:hover {
    cursor: pointer;
    text-decoration: underline;
} 

.header-down {
    background-color: aqua;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: end;
    padding: 0px 15px;
}
.header-icon {
    font-size: 50px;
}

.header-item ul{
    display: flex;
}

.header-item ul li {
    padding-bottom: 9px;
    border-bottom: 3px solid white;
    margin-right: 16px;
    list-style-type: none; 
}

.header-item ul li:hover {
    cursor: pointer;
    border-bottom: 3px solid black;
}
.header-search{
    display: flex;
    padding-bottom: 9px;
}
.header-search input{
    padding: 3px 10px;
}
.header-search div {
    margin-right: 10px;
    margin-left: 4px;
}

/* BETTWEN HEADER & MAIN */
.header-main {
    background-color: red;
    display: flex;
    margin-top: 135px;
    flex-flow: column nowrap;
    width: 100%;
}
.header-main-up{
    height: 40px;
    background-color: green;
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header-main-up i {
    float: right;
    position: absolute;
    right: 15px;
}

.header-img {
    height: 400px;
    position: relative;
    z-index: 1;
}
.header-img img {
    width: 100%;
    position: absolute;
    height: 400px;
    object-fit: cover;
    z-index: 1;
}
.header-img h1 {
    position: absolute;
    color : white;
    top : 14px;
    left : 25px;
    letter-spacing: 4px;
    z-index: 2;
}

.header-img h4 {
    position: relative;
    color : black;
    left : 70px;
    top : 240px;
    background-color: white;
    display: inline;
    z-index: 2;
    padding: 5px 10px;
}
.header-img p {
    position: relative;
    color : black;
    background-color: white;
    width: 250px;
    left : 70px;
    top : 260px;
    line-height: 20px;
    padding: 5px 10px;
    font-weight: 100;
    font-size: 12px;
    z-index: 2;
}
.header-img ul {
    width: 400px;
    display: flex;
    flex-flow:  row wrap;
    position: absolute;
    left : 70px;
    top : 325px;
    gap: 10px;
    z-index: 2;
}
.header-img ul li {
    background-color: white;
    list-style-type: none;
    padding: 5px 10px;
    margin-right: 10px;
   
}
/* MAIN */
main {
    height: 500px;
    background-color: rgb(29, 2, 183);
    margin: 0 20px;
}
.title-main{
    padding: 13px 25px;
}
.title-main h3 {
    margin: 10px;
    font-size: 30px;
}

.main-base {
    margin-left: 35px;
    margin-right: 35px;
}
.img-main{
    border :1px solid white;
    width: 180px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;

}
.img-main:hover {
    border: 1px solid gray;
    cursor: pointer;
}
.main-img-div{
    width: 100%;
    height: 178px;
    background-color: yellow;
}
.img-main img {
    width: 180px;
}

.img-main h4 {
    padding: 3px 10px;
    font-size: 15px;
}

.img-main h3 {
    font-size: 14px;
    padding: 0 10px;
    font-weight: 300;
}

.img-main p {
    font-size: 12px;
    font-weight: 300;
    padding:  10px;
}

.img-main i {
    position: absolute;
    top : 15px;
    right: 15px;
}
.img-main i:hover {
    cursor: pointer;
    color:  gray;
}
/* .button & scroll image */
.button-scroll {
    display: flex;
    flex-flow: column nowrap;
    background-color: cadetblue;
    position: relative;
    padding: 30px 0
}
.button-scroll button {
    margin-right: 3px ;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 200;
    width: 90px;
    transition: background-color .5s;
}
.button-scroll button:hover {
    cursor: pointer;
    background-color: rgb(225, 225, 225);
}
.button-scroll a {
    float: right;
    text-decoration: none;
    color : black;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 5px 2px;
    border-bottom: 1px solid black;
}
.button-scroll a:hover{
    background-color: rgb(235, 235, 235);
}
/* scroll-img */
.scroll-img{
    background-color: rgb(220, 0, 0);
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    padding: 25px 0 ;
}

.scroll-img::-webkit-scrollbar {
    width : 5px;
    height: 5px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 80%);
}
.scroll-img::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: hsl(0, 0%, 2%);
}
.scroll-img::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 0%);
    cursor: pointer;
}
.scroll-img .img-main{
 margin-right: 8px;
 display: inline-flex;

}
.bi-arrow-left-square, .bi-arrow-right-square{
    position: absolute;
    top : 40%;
    font-size: 40px;
    opacity: .3;
    color : rgb(60, 60, 60);
    transition: opacity .6s;
}
.bi-arrow-right-square{
    right: 0;
}
.bi-arrow-left-square:hover, .bi-arrow-right-square:hover {
    opacity: 1;
    cursor: pointer;
}
/* video-main */
.video-main {
    background-color: greenyellow;
    height: 500px;
}
.video-box {
    background-color: rgb(113, 113, 240);
    display: flex;
    flex-flow: column nowrap;
    width: 200px;
    border: 1px solid red;
    padding: 10px;
}
video{
    width:175px;
}

.video-box div h4 {
    font-size: 14px;
    padding:  4px ;
}
/* media query */
@media screen and (min-width : 2048px) {
    body {
        zoom : 1.4
    }
    .header-main {
        margin: auto;
        width: 90%;
        margin-top: 4.7%;

    }
    main {
        width: 80%;
        margin: auto;
    }
    img {
        width: 100%;
    }
}