* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* HEADER  */

header{

}
.header-top {
    position: fixed;
    width: 100%;
    top : 0;
    display: flex;
    flex-flow: column nowrap;
}
.header-up{
    background-color: black;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-top h3 {
    color: white;
}

.header-meddle{
    padding-top: 4px;
    background-color: yellow;
    height: 30px;
}
.header-meddle ul {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
}
.header-meddle ul li {
    margin-right: 14px;
    list-style-type: none;
}

.header-meddle ul li:hover {
    cursor: pointer;
    text-decoration: underline;
} 

.header-down {
    background-color: aqua;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: end;
    padding: 0px 15px;
}
.header-icon {
    font-size: 50px;
}

.header-item ul{
    display: flex;
}

.header-item ul li {
    padding-bottom: 9px;
    border-bottom: 3px solid white;
    margin-right: 16px;
    list-style-type: none; 
}

.header-item ul li:hover {
    cursor: pointer;
    border-bottom: 3px solid black;
}
.header-search{
    display: flex;
    padding-bottom: 9px;
}
.header-search input{
    padding: 3px 10px;
}
.header-search div {
    margin-right: 10px;
    margin-left: 4px;
}

/* BETTWEN HEADER & MAIN */
.header-main {
    background-color: red;
    display: flex;
    /* padding-top: 510px; */
    margin-top: 135px;
    flex-flow: column nowrap;
}
.header-main-up{
    height: 40px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header-main-up i {
    float: right;
    position: absolute;
    right: 15px;
}

.header-img {
    height: 200px;
}
.header-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}