* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* HEADER  */

header{

}
.header-top {
    position: fixed;
    width: 100%;
    top : 0;
    display: flex;
    flex-flow: column nowrap;
    z-index: 5;
}
.header-up{
    background-color: black;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-top h3 {
    color: white;
}

.header-meddle{
    padding-top: 4px;
    background-color: yellow;
    height: 30px;
}
.header-meddle ul {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
}
.header-meddle ul li {
    margin-right: 14px;
    list-style-type: none;
}

.header-meddle ul li:hover {
    cursor: pointer;
    text-decoration: underline;
} 

.header-down {
    background-color: aqua;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: end;
    padding: 0px 15px;
}
.header-icon {
    font-size: 50px;
}

.header-item ul{
    display: flex;
}

.header-item ul li {
    padding-bottom: 9px;
    border-bottom: 3px solid white;
    margin-right: 16px;
    list-style-type: none; 
}

.header-item ul li:hover {
    cursor: pointer;
    border-bottom: 3px solid black;
}
.header-search{
    display: flex;
    padding-bottom: 9px;
}
.header-search input{
    padding: 3px 10px;
}
.header-search div {
    margin-right: 10px;
    margin-left: 4px;
}

/* BETTWEN HEADER & MAIN */
.header-main {
    background-color: red;
    display: flex;
    margin-top: 135px;
    flex-flow: column nowrap;
    width: 100%;
}
.header-main-up{
    height: 40px;
    background-color: green;
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header-main-up i {
    float: right;
    position: absolute;
    right: 15px;
}

.header-img {
    height: 400px;
    position: relative;
    z-index: 1;
}
.header-img img {
    width: 100%;
    position: absolute;
    height: 400px;
    object-fit: cover;
    z-index: 1;
}
.header-img h1 {
    position: absolute;
    color : white;
    top : 14px;
    left : 25px;
    letter-spacing: 4px;
    z-index: 2;
}

.header-img h4 {
    position: relative;
    color : black;
    left : 70px;
    top : 240px;
    background-color: white;
    display: inline;
    z-index: 2;
    padding: 5px 10px;
}
.header-img p {
    position: relative;
    color : black;
    background-color: white;
    width: 250px;
    left : 70px;
    top : 260px;
    line-height: 20px;
    padding: 5px 10px;
    font-weight: 100;
    font-size: 12px;
    z-index: 2;
}
.header-img ul {
    width: 400px;
    display: flex;
    flex-flow:  row wrap;
    position: absolute;
    left : 70px;
    top : 325px;
    gap: 10px;
    z-index: 2;
}
.header-img ul li {
    background-color: white;
    list-style-type: none;
    padding: 5px 10px;
    margin-right: 10px;
   
}
/* MAIN */
main {
    height: 1500px;
    background-color: red;
}
.size-main {
    margin: 0 50px;
}
.title-main{
    background-color: aqua;
    
    padding: 20px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.title-main div h3 {
    letter-spacing: 1px;
}
/* img main */
.img-main{
    /* height: 500px; */
    background-color: yellow;
    display: flex;
    /* overflow-x: scroll; */
}
.window-img {
    border: 1px solid rgb(255, 255, 255);
    background-color: bisque;
    display: flex;
    flex-flow: column nowrap;
    margin-right: 30px;
    position: relative;
 
}
.window-img:hover {
    border: 1px solid black;
    cursor: pointer;
}
.window-img img {
    height: 300px;
    width: 300px;
}
.window-img  h4 {
    padding: 3px 10px;
    font-size: 15px;
}

.window-img  h3 {
    font-size: 14px;
    padding: 0 10px;
    font-weight: 300;
}

.window-img  p {
    font-size: 12px;
    font-weight: 300;
    padding:  10px;
}

.window-img  i {
    position: absolute;
    top : 15px;
    right: 15px;
}
.window-img i:hover {
    cursor: pointer;
    color:  gray;
}
.button-scroll {
    display: flex;
    flex-flow: column nowrap;
    background-color: cadetblue;
    position: relative;
    padding: 30px 0
}

/* media query */
@media screen and (min-width : 2048px) {
    body {
        zoom : 1.4
    }
    .header-main {
        margin: auto;
        width: 50%;
        margin-top:130px ;

    }
    main {
        width: 90%;
        margin: auto;
    }
    .title-main div h3{
        font-size: xx-large;
    } 
    .window-img img  {
        /* width: 100%; */
    }
}
